/*My CSS*/
body {
	font-family: Helvetica;
	min-width: 1024px;
}
nav {
	background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 127.92%);
	padding: 2px 35px;
	text-transform: uppercase;
	text-align: right;
}
.nav-item {
	display: inline-block;
	position:relative; 
	margin-right: 50px;
	padding: 0 25px;
	background-color: rgba(255, 255, 255, 1);
}
.nav-item a {
	color: #000;
	font-size: 32px;
	line-height: 96px;
	display: block;
}
.nav-item:before {
	position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 48px 0 48px 25px;
    border-color: #FFFFFF #FFFFFF #FFFFFF transparent;
    top: 0;
    left: -25px;
    z-index: 5;
}
.nav-item:after {
	position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 48px 0 48px 25px;
    border-color: transparent transparent transparent #FFFFFF;
    top: 0;
    right: -25px;
    z-index: 5;
}
.nav-item:hover {
	background-color: rgba(255, 255, 255, 0.7);
}
.nav-item:hover:after,
.nav-item:hover:before {
	opacity: 0.7
}